<% provide(:title, 'Help') %>
    <h1>Help</h1>
    <p>Welcome to the help page. Here you can find answers to frequently asked questions and get assistance with any issues you may be experiencing.</p>
